
@{
    ViewBag.Title = "Ekonomi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>EKONOMİ</h2>
            <p>LİBYA EKONOMİ HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">EKONOMİ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Libya’nın ekonomisinin temel belirleyicisi hidrokarbonlardır (petrol, doğalgaz). Ülkenin
                    ihracat gelirlerinin %98’ini, GSMH’nin %25’ini ve devlet gelirlerinin %90’ını hidrokarbonlar
                    oluşturmaktadır.
                    Libya’da tarım sektörünün GSMH içindeki payı %3’ü geçmemektedir. Tarım Akdeniz kıyısında
                    ve geleneksel yöntemlerle yapılmaktadır. Ülke genelinde görülen çölleşme tarımsal üretimi
                    olumsuz etkilemekte ve üretim maliyetlerini arttırmaktadır. Petrol dışında oldukça sınırlı
                    seviyede olan sanayi üretimi petrol ürünleri, demir ve çelik, gıda, çimento ve inşaat
                    malzemeleri alanlarında yoğunlaşmıştır.
                    Tüm hizmetlerin devlet tarafından yürütüldüğü Libya’da, 2007’den itibaren az sayıda da olsa
                    özelleştirmeler gerçekleştirilmiştir. Özellikle bankacılık sektöründe yabancı yatırım çekilmeye
                    çalışılmış, bu politika neticesinde 2007 ve 2008’de 5 kamu bankasının ikisi yabancı
                    yatırımcılarca satın alınmıştır. Kalan üç bankanın ikisi ilerde özelleştirilmek üzere tek çatıda
                    birleştirilmiştir. 2010 yılından itibaren yabancı bankaların ülkede faaliyet göstermesine izin
                    verilmiştir.
                    Ayrıca, ekonomik çeşitliliğin yaratılamaması, beraberinde işsizlik oranının da yüksek
                    düzeylerde seyretmeye devam etmesine yol açmıştır. Hidrokarbon sektörünün gelirlerin çok
                    büyük bir kısmını oluşturmasına karşın, işgücünün yalnızca % 3’lük bir bölümünü istihdam
                    ettiği ülkede, gizli işsizlik de dikkate alındığında işsizlik oranının % 30 civarında olması halkın
                    memnuniyetsizliğini arttıran unsurlardan olmuştur.
                    Libya’ya uygulanan yaptırımların kalkması ile birlikte yeni petrol ve gaz projeleri yabancı
                    yatırıma açılmıştır. Tarım, ağır ve hafif sanayi, enerji ile turizm yabancı yatırıma açılan diğer
                    alanlardır.Libya tüm petrol zengini ülkelerin klasik problemleri olan ekonomide hidrokarbonlar dışında
                    sektörel çeşitliliği gerçekleştirememe ve yabancı işgücüne bağlı kalma sorunları ile karşı
                    karşıya bulunmaktadır.
                    “Petrol dışında ekonomide çeşitliliği sağlama politikası” ekonomik politika ve yeni yatırım
                    programlarında temel amaç olmakla birlikte bu konuda sınırlı başarı sağlanmıştır. Tarım
                    sektörünün performansı hayal kırıklığına neden olmuştur. Üretim, ekilebilir toprakların ve
                    yerli işgücünün sınırlı olmasından olumsuz etkilenmiştir. Sanayi işletmeleri düşük kapasite
                    sorunu ile karşı karşıyadır.
                </p>
                <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/para.jpg" class="rounded" width="550" /></p>
                <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/ihracat.jpg" class="rounded" width="600" /></p><br /><br />

                <h4 style="color:#e40; font-weight:bold;">LİBYA'NIN DIŞ TİCARETİ</h4>
                <p style="text-align:center; position:relative;left:100px;" data-aos="fade-up" class="col-lg-10"><img src="~/assets/img/tic1.png" class="rounded" width="650" /></p>
                <p>
                    Trademap veritabanın yansıtılmış (mirror) verilerine göre Libya 2021 yılında 30,6 milyar
                    dolarlık ihracat 15,5 milyar dolar ithalat gerçekleştirmiş.
                    Libya’nın dünyaya ihracatında en önemli ürünleri, ham petrol, petrol gazları, demir külçeler,
                    bakır hurdaları, demir cevherinden parça ve pellet, altın, kimyasal gübreler, alüminyum
                    hurdaları ve amonyaktır.
                    Ülkenin dünyadan ithalatında en önemli ürünler, petrol yağları, otomobiller, mücevherci
                    eşyası, buğday, gaz türbinleri, ilaçlar, arpa, süt, tavuk eti, mobilyalar ve eşya taşımaya
                    mahsus motorlu taşıtlardır.
                </p>
                <h4 style="color:#e40; font-weight:bold;">BAŞLICA ÜRÜNLERİN İRTİBATI İLE DIŞ TİCARET</h4><br />
                <h6>İHRACAT</h6>
                <p style="float:left; position:relative;top:30px" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/tic2.png" class="rounded" width="600" /></p>
                <h6 style="position: relative; bottom: 20px">İTHALAT</h6>
                <p style="float:right; " data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/tic3.png" class="rounded" width="550" /></p><br />
                <div style="clear:both;"></div>
                <div>
                <h4 style="color:#e40; font-weight:bold;">BAŞLICA ÜLKELERİN İRTİBATI İLE DIŞ TİCARET</h4><br />
                <h6>İHRACAT</h6>
                <p style="float:left; position:relative;top:30px" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/tic4.png" class="rounded" width="600" /></p>
                <h6 style="position: relative; bottom: 20px">İTHALAT</h6>
                <p style="float:right; " data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/tic5.png" class="rounded" width="590" /></p><br /><br />
                </div>
                

            </div><br />
            </div>
        </div>
    </section>



