
@{
    ViewBag.Title = "Enerji";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>ENERJİ</h2>
            <p>LİBYA ENERJİ HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">ENERJİ KAYNAKLARI</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Libya’nın ihracat ve kamu gelirlerinin tamamına yakını ve GSYH’nın %65’i petrol ve doğal
                    gaza dayanmaktadır. OPEC üyesi olan Libya, 44,3 milyar varil ile Afrika kıtasının en büyük,
                    dünyanın ise 7. büyük petrol rezervine sahip ülkesidir. Dünya toplam petrol
                    rezervlerinin %3,3’ü Libya’dadır. 2009 yılında dünya toplam petrol üretiminin %2’si Libya
                    tarafından üretilmiş olup Afrika ülkeleri içinde Nijerya, Cezayir ve Angola’nın ardından 4.
                    sıradadır. Libya’nın petrol rezervlerinin büyük kısmı henüz araştırılmamış olup ülkenin
                    sadece %25’i için petrol şirketleriyle arama anlaşmaları yapılmış durumdadır. 2008 yılında
                    50’den fazla uluslararası petrol şirketi ülkede petrol ve gaz, arama ve üretim çalışması
                    yapmıştır. Türkiye Petrolleri A.O.’na bağlı TPOC, 2005 yılında düzenlenen uluslararası ruhsat
                    ihalesinde Fizan Çölünde yer alan 147/3-4 ruhsatını kazanmıştır. Projenin operatörü TPOC
                    olup, 100 hisseye sahiptir. Ruhsatta 2009 yılında kazılan ilk arama kuyusu petrol keşfi ile
                    sonuçlanmıştır. (A1-147/3-4) Arama dönemi, Libya’daki mevcut siyasi gelişmeler nedeniyle
                    ertelenmiştir. Petrol üretiminin, Ağustos 2020’de ülkenin ihracat tesislerine yönelik
                    ablukanın kaldırılmasıyla yeniden başlamasından bu yana, petrol sektörünün görünümü
                    önemli ölçüde iyileşmiştir. Libya Ulusal Ordusu'nun Ocak 2020’de ihracatı engellemesinin
                    ardından günde 100.000 varilin altına düşen üretim, abluka öncesi seviyelerine hızla
                    yükselmiştir. Libya Milli Petrol Şirketi-NOC’ye göre, Aralık 2021 itibariyle 1,2 milyon varil/gün
                    üretim ile ihracat ve üretim kesintiye uğramadan önceki 12 ay öncesi üretim seviyesine
                    dönülmüştür.
                </p>
                <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/petrol.jpg" class="rounded" width="600" /></p>
                <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/dogalgaz.jpg" class="rounded" width="590" /></p>
                <p>
                    Libya’nın doğalgaz rezervleri ise 1,5 trilyon m³’tür. Bu miktar ile Afrika kıtasında Nijerya,
                    Cezayir ve Mısır’dan sonra dördüncü sırada bulunmaktadır. 2009 yılı üretimi 15,3 milyar m3
                    olup, doğalgaz üretimi ve ihracatı 2004 yılı sonlarında faaliyete geçen ve Avrupa’ya gaz
                    taşıyan Greenstream boru hattı ile birlikte artmaktadır. Libya, İtalya ile Akdeniz’i geçecek
                    “Green Stream Projesi” kapsamında, başta İtalya olmak üzere Avrupa pazarına gaz nakli
                    çalışmalarını sürdürmektedir.
                    Libya’da elektriğin üretimi, iletimi ve dağıtımı devlete ait elektrik şirketi GECOL’ün
                    tekelindedir. GECOL’e göre, Libya elektrik piyasasında %25’lik bir enerji açığı bulunmaktadır.
                    Ülkedeki tüketim 7500 MW iken ortalama üretim 5,800 MW civarındadır. Ayrıca, enerji nakil
                    hatlarının da zarar görmesi sebebiyle günde 6-10 saat arasında elektrik kesintisi
                    yaşanmaktadır. GECOL, çoğu Akdeniz kıyılarında bulunan çeşitli büyüklük ve teknolojide 85
                    ünitesi bulunan 15 elektrik santraline sahiptir. Ülkedeki toplam kurulu güç 10,4 GW’tır. (%50
                    Kombine Çevrim, %38 Gaz Türbinli, %10 Buhar Türbinli, %2 küçük üniteler). GECOL, 108’i 220
                    kV, 14’ü 400 kV gücünde olmak üzere toplam 122 trafo merkezine, 200’ün üzerinde havai hat
                    devresine sahiptir.
                    Ülkemiz ve Libya arasında 27 Kasım 2019 tarihinde “Akdeniz’de Deniz Yetki Alanlarının
                    Sınırlandırılması” ile “Güvenlik ve Askeri İşbirliği” Mutabakat Muhtıraları imzalanmıştır. Bu
                    belgelerin, Libya’nın açık denizde yer alan hidrokarbon kaynaklarının ülkemizle işbirliği içinde
                    üretilmesine imkân sağlayabileceği düşünülmektedir
                </p>

                <h4 style="color:#e40; font-weight:bold;">MADENCİLİK</h4>
                <p>
                    1971/2 sayılı Kanunla (Ek’li İngilizce) madencilik ve taş ocakçılığı faaliyeti, 1997/5 sayılı
                    Kanunla petrol dışı sektörlerde yabancı yatırım konuları düzenlenmiştir. 25 Sayılı Petrol
                    Kanunu ile 1955 tarihli 8 ve 9 Sayılı Petrol Yönetmeliği ise Petrol Arama ve Üretim-Paylaşım
                    Anlaşmalarını (hidrokarbon sektörünü) düzenlemektedir. Ayrıca 2006 yılında çıkartılan 443
                    sayılı kanun uluslararası petrol şirketlerinin hidrokarbon ve mineral üretim faaliyetlerine
                    ilişkindir. Genel Halk Komitesi'nin 151 Sayılı Kararnamesi ile 1996 yılında ülkenin doğal
                    kaynaklarına yatırım yapmak amacıyla Libya Madencilik A.Ş. kurulmuştur. Bu şirkete, Ülkenin
                    tümünde maden kaynaklarının üretimi ve işletilmesi yetkisi verilmiştir. Şirkete, bu amaçla
                    yabancı ortaklıklar kurabilme imkânı da verilmiştir.
                    Madencilik sanayindeki en önemli alan ham petrol çıkartılmasıdır. Libya topraklarından çıkan
                    ham petrolün sadece %25’i işletilmekte olup, gelecek yıllarda bu alanda önemli bir büyüme
                    beklenmektedir. Hükümet rafineri tesislerini yenileme ve genişletmede isteklidir. Bu amaçla
                    önemli rafinelerin işleme kapasitelerinin artırılması ve yeni bir rafineri kurulmasını kapsayan
                    yatırımlar başlatılmış, ancak rejim sonrasında ülkenin yaşadığı istikrarsızlık nedeniyle
                    gerçekleştirilememektedir. İhracat ve iç piyasada kullanılan petrolün yerine ikame etmek
                    amacıyla doğal gaz üretiminin geliştirilmesi planlanmaktadır. Libya’nın 1,49 trilyon metreküp
                    olan ispatlanmış rezervleri toplam dünya rezervlerinin yaklaşık % 0,8’i civarındadır.
                    İspatlanmamış rezervlerin bu miktarın iki katı olduğu tahmin edilmektedir. Diğer bir mineral
                    kaynağı demir cevheridir. Demir dışındaki en önemli madencilik faaliyeti tuzdur. Diğer
                    madencilik aktiviteleri ise, kireç taşı, kil ve inşaat sektörü için taş ocakçılığıdır.
                </p>
                <p>
                    Hidrokarbon ve su dışındaki yeraltı ve yerüstü tüm maden kaynaklarını ortaya çıkartıp
                    ekonomiye kazandırmak için Libya Milli Madencilik Şirketi kurulmuştur. Libya’nın maden
                    kaynakları potansiyeline ilişkin araştırmalarda oldukça yetersiz kalındığı şimdiye kadar
                    yapılan arama ve geliştirme faaliyetleri sonucunda ülkenin çimento hammaddeleri, demir
                    cevheri, silis (%99,9 kalitede), seramik gibi inşaat malzemelerinin yanı sıra kimyasal ürünlerin
                    yapımında kullanılan kil, jips, traverten ve kireçtaşı gibi malzemeler ile bentonit rezervleri
                    bakımından kaliteli ve zengin kaynakların varlığının ortaya çıkartıldığı, ancak bu kaynakların
                    henüz ülke ekonomisine yeterince kazandırılamadığı, çıkartılmayı bekleyen önemli miktarda
                    altın yataklarının olduğu; madencilik alanında yeterli arama ve geliştirme faaliyetlerinin
                    yapılması halinde, mevcut hidrokarbon varlığı kadar önemli bir ekonomik potansiyelin
                    harekete geçirebileceği, özellikle rejim değişikliği sonrasında Çin başta olmak üzere ABD,
                    İngiltere ve Almanya gibi ülkelerin işbirliğine yönelik taleplerle başvuruda bulunulduğu, bu
                    alanda Türkiye ile işbirliğine öncelik verilmesi konusunda karar alıcı makamlarından talimat
                    alındığı yetkililerce ifade edilmektedir. Libya’nın sürdürülebilir kalkınmasında özel sektörün
                    rolünün geliştirilmesi hedefi doğrultusunda, madencilik alanında iki ülkenin ilgili kurumları
                    arasında çerçeve anlaşmaların gündeme getirilebileceği düşünülmektedir.
                </p>

            </div>

        </div><br />

        </div>
    </section>


