
@{
    ViewBag.Title = "Iklim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>İKLİM</h2>
            <p>LİBYA İKLİM HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">COĞRAFİ KONUM</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Afrika kıtasının, kuzeyinde Akdeniz kıyısında yer alan bir ülke. 32°-20° kuzey enlemleri ile 10°-25° doğu boylamları arasında kalır. KuzeydeAkdeniz, doğuda Mısır,
                    güneydoğuda Sudan güneyde Nijer ve Çad, batıda ise Cezayir ve Tunus’la çevrilidir.
                    Yüzölçümü 1.759.540 km2ye ulaşmaktadır. Toprak bakımından Afrika’nın dördüncü büyük ülkesidir. Bu geniş toprakların hemen hemen % 95’i çöl veya kurak arazidir. Kuzeyde Akdeniz ve
                    güneyde Ekvator Afrikası arasında bir kum denizine benzeyen Büyük Sahra Çölünün, yaklaşık 1300 km uzunluğundaki büyük bir bölümü, Libya topraklarının tamamına yakın kısmını meydana getirir.

                    Libya’nın, Tunus ve Mısır arasında bulunan Akdeniz kıyılarının uzunluğu, yaklaşık 1912 km’dir. Kıyıdan itibaren gittikçe yükselen Libya toprakları, umumiyetle yüksek yayla görünümünde olup,
                    başlıca üç büyük bölgeye ayrılır; Bunlar Fizan, Trablus ve Sirenaik bölgeleridir.
                    Akdenize bir kavis şeklinde girmiş olan Sirenaik bölgesi, düz girintisiz çıkıntısız olan kıyılardan itibaren yükselmeye başlar. Kıyıya paralel uzanan Yeşil Dağı (Cebel-ül-Ahdar) buradaki mevcut yaylanın en yüksek yeri olup, yaklaşık 880 m yüksekliğindedir. Kuzeydoğudaki bu yüksek yayla, güneydeLibya Çölüne doğru alçalmaya başlar.

                    Sidra Körfezinin batısında yeralan ve ortalama 650 m yüksekliğinde olan Trablus bölgesi, irili ufaklı vahalara sahip olup, verimli topraklarla kaplıdır. Bu bölgenin en yüksek yeri olan Nefusa Dağı, bölgeyi kuzey rüzgarlarına karşı örter.

                    Libya topraklarının büyük bir bölümünü meydana getiren ve Kuzey Afrika’yı hemen hemen kaplamış olan Büyük Sahra Çölü ıssızdır. Sahra Çölünde iklim de çok farklılık gösterir. Bazı yerlerine on yıl boyunca
                    hiç yağmur yağmaz.
                </p>

                <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/iklim.jpg" class="rounded" width="500" /></p>
                <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/iklim1.jpg" class="rounded" width="660" /></p><br />
                <div style="clear:both;"></div>

                <h4 style="color:#e40; font-weight:bold;">İKLİM</h4>
                <p>
                    Libya iklimi yükseklik ve denize yakınlık bakımından çeşitlilik arz eder. Fakat genel olarak ülke, çöl ikliminin tesiri altındadır. Yazları oldukça sıcak ve kurak, kışları çoğunlukla ılık ve az yağışlı geçer. Bu yağışlar, birkaç haftayı bulmaz. Bahar aylarında güneyden esen Ghibli rüzgarı, Sahranın kavurucu sıcaklığını kuzeye doğru taşır.

                    Kıyı bölgelerde Akdeniz iklimi ve kıyıya yakın ve paralel uzanan yaylalarda yüksek ova iklimi hüküm sürer. Libya’da genel olarak yıllık sıcaklık ortalaması kışın 15°C ve yazın 38°C civarındadır. Bugüne kadar en fazla (rekor seviyede) sıcaklık, 1922 yılında Aziziye bölgesinde 58°C olmuştur. Yıllık yağış
                    ortalaması Trablus’ta 400 mm, Sirenaik’de 500 mm’dir.

                    Kuzey yükseltiler, çoğunlukla üzüm bağları ve meyve bahçeleri ile kaplı iken, güney bölgelerde koruluklar bodur çalılar ve otlara rastlanır. Daha güneyde ise bu bitki örtüsü de bulunmaz
                    ve kavurucu sıcaklığın getirdiği yarı yarıya çatlamış çöl toprakları mevcuttur. Trablus bölgesi, tarım ürünleri bakımından en fazla verimin alındığı vahalara sahiptir. Kıyı ile Nefusa Dağı arasında
                    yer alan Gefera Ovası umumiyetle ağaçlık bölge olup, verimli topraklara sahiptir. Çöllerin bol olduğu Fizan
                    bölgesinde ise yer yer görülen vahalar sadece hurma ağacı yetiştirilmesine imkan verir.
                </p>
                <h4 style="color:#e40; font-weight:bold;">TABİİ KAYNAKLAR</h4>
                <p>
                    Libya, yer itibariyle Akdeniz kıyısına yakın olmakla beraber, Afrika kıtasının özelliklerini üzerinde taşıyan bir ülkedir. Kıyı bölgeleri hariç, ülkenin % 95’i çöl veya kurak topraklardan meydana gelir. Büyük SahraÇölünün ülkeye çok tesiri vardır. Çölün % 20’lik bölümü saf kumdur, diğer bölgeleri ve özellikle Libya 
                    topraklarında kalan kısımları, çıplak iri kayalıklardan meydana gelmiştir.

                    Trablus ve Sirenaik bölgelerinde yer yer yeşil sahalar mevcutsa da, güneydeFizan bölgesinde vahaların bulunduğu bölgeler hariç, sadece çölün kurak ve yarı çatlak toprakları yer alır. Vahalar civarındaki ağaçlıklar dışında ülkenin önemli bir orman zenginliği yoktur.

                    Kıyı bölgeler nisbeten sulak olup, Akdeniz ikliminin tesirinde kalan muhitlerde zeytinliklere ve ardıç, zakkum gibi nadiren yetişen ağaç topluluklarına rastlanır. Maden bakımından fazla zengin olmayan Libya’nın en önemli gelir kaynağı, petroldür. Mevcut petrol yatakları ülke ihtiyacını karşıladığı gibi önemli ihraç kaynağı durumundadır.
                </p>



            </div>

        </div><br />
        </div>
    </section>


