
@{
    ViewBag.Title = "Tarihi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ======= hakkında alanı ======= -->
<br /><br />
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TARİH</h2>
            <p>LİBYA TARİHİ HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">ANTİK LİBYA</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Ülkenin asıl yerlileri Berberi kabilelerdir. Ancak Antik çağlardan bu yana bilinen tarihinde ülkeye Fenikeliler, Kartacalılar, Büyük İskender'in orduları, Ptolemaus hanedanı ve Romalılar,
                    Arap-İslam İmparatorluğu ile Osmanlılar hakim olmuşlardır. Trablus, esas olarak Kartaca'ya bağlı Fenikeli bir grup koloni idi. Üç büyük şehir (Yunanca Tri: üç, polis: şehir) Oea, Sabrata ve
                    Leptis Magna, Fenikelilerce kurulmuştu. MÖ 7. yüzyılda burası, Roma'nın Kartaca devletine son verdiği Punik savaşlarından
                    (Fenike savaşları/Pön savaşları) sonra diğer Kartaca toprakları gibi Romalılar'ın eline geçti. Doğu kıyılarındaki Sirenayka
                    ise Roma İmparatorluğu hakimiyetinden önce kurulmuş Yunan kolonisiydi. Büyük İskender'in fethinden sonra Ptolemiler'e, ondan sonra da
                    Romalıların yönetimine geçti. Roma ikiye ayrılınca, Libya Doğru Roma'nın elinde kaldı.
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">ARAP HAKİMİYETİ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    647 yılında ise Abdullah ibn el-Sa’ad komutasındaki Arap İslam orduları Libya'ya girerek Bizanslılar'ı mağlup etti. Trablus ve Sirenayka Halife'ye bağlanmakla
                    birlikte Bizanslılar'a (İstanbul ve Şam) bağlı yöneticiler (eksarh) bölgeyi yönetmeye devam ettiler. 1146'da Sicilyalı Normanlar Trablus'u istila etti. 14. ve 15. yüzyıllarda
                    İslam egemenliğinden sonra, 16. yüzyılda İspanyol yönetimine geçti.
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">OSMANLI DÖNEMİ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Burası 1553'te, Osmanlı İmparatorluğu'na bağlı Turgut Reis tarafından fethedildi. 1611 yılına kadar, paşalar tarafından yönetildi. 1611 yılında dayılık sistemi geldi.
                    Osmanlı Devleti'nin zayıflamasına paralel olarak, Dayılar daha bağımsız hareket etmeye başladı. Dayılar birer devlet başkanı gibi başka devletlerle ikili antlaşmalar bile yapabiliyorlardı.
                    19. yüzyıl başlarında Libya'daki dayılar da Tunus ve Cezayir dayıları gibi Akdeniz'de Amerika Birleşik Devletleri ile mücadele etmiştir.
                    Osmanlılar 1835 yılında Libya'daki kontrolü yeniden sağlayarak burayı merkezi yönetime bağladılar (Birinci ve İkinci Berberi Savaşı)..
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">İTALYAN HAKİMEYETİ ALTINDA LİBYA</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Osmanlı İmparatorluğu'nun zayıfladığı dönemde, 1911'de İtalyanlar bölgeyi işgal ettiler. Trablusgarp Savaşı akabinde yapılan Uşi Antlaşması ile Libya'daki fiili
                    Osmanlı hakimiyeti sona ermekle birlikte, hukuken Osmanlı'ya bağlılığı benimsendi.[kaynak belirtilmeli] Ülkeyi işgal eden İtalyanlara karşı Mustafa Kemal, Enver Paşa ve diğer kimi
                    Osmanlı subaylarının örgütlediği milis kuvvetleri uzun zaman direnç gösterdi. Ancak her türlü
                    üstünlüğe sahip olan İtalya ülkenin tamamını kontrol etmeyi başardı. Ardından İtalyan Libyası kuruldu..
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">LİBYA KRALLIĞI</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Bu dönemde İtalyan sömürgeciliğine karşı Ömer Muhtar tarafından başlatılan direniş hareketi ise Ömer Muhtar'ın yakalanarak idam edilmesi sonucunda başarısızlığa uğradı.
                    II. Dünya Savaşı'ndan sonra bölge Fransa ve Birleşik Krallık'a bırakıldı. Birleşmiş Milletler 1949'da Libya'nın bağımsız bir ülke olması gerektiği kararını aldı. Görüşmelerde Libya'yı,
                    1920'lerden beri İtalyanlar'la mücadele etmiş olan, sonrasında Mısır'a
                    sürgüne giden Şeyh İdris temsil etti.
                    1951'de Libya bağımsızlığını kazandı ve Birleşmiş Milletler aracılığıyla bağımsızlığa kavuşan ilk ülke oldu. İdris ülkenin kralı oldu.
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">SOSYALİZM VE MUAMMER KADDAFİ DÖNEMİ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    1969'da, ordunun genç subaylarından Muammer Ebu Minyar El-Kaddafi bir grup subayla birlikte Kral İdris'e karşı bir darbe yaptı. Monarşi sona 
                    erdirildi ve Libya Arap Cemahiriyesi kuruldu. Kaddafi, o tarihten sonra kendisinin "Üçüncü Evrensel Teori" dediği, Sosyalizm ve İslam karışımı bir politik rejimi izledi. Bu sisteme İslamî Sosyalizm ve Yeşil Sosyalizm gibi isimler verdi. 1990'lı yıllardan itibaren Lokerbie faciası gerekçesiyle Amerika'nın ve uluslararası toplumun sürdürdü ambargo 1969'dan 
                    itibaren sürdürülen kalkınma hamlesine darbe vurdu. Yönetim "Cemahiriye" tabirini kullanarak kitlelerin devleti olduğunu ifade etmektedi
                    Londra-New York seferini yapan Pan Am 103 sefer sayılı Boeing 747 uçağı 21 Aralık 1988 tarihinde havada infilak etti ve İskoçya'nın Lockerbie 
                    kasabasına düştü. Uçak içindeki 259 kişi ve kasabadaki 11 kişiyle birlikte toplam 270 kişi hayatını kaybetti. Semtex adlı patlayıcıyı uçağa yerleştirenlerin Libya uyruklu olduğunun anlaşılmasından 
                    sonra, Libya'dan tazminat talep edildi. Libya her iki şüpheliyi de İskoçya'ya iade ederek kişi başı 10 milyon dolarla toplam 2,75 milyar dolar tazminat ödedi
                    İskoç mahkemelerinde yargılanan şüphelilerden Lamin Khalifah Fhimah beraat etti. Libya gizli servisi üyesi olan Abdelbaset Ali al-Megrahi ise 
                    2001 yılında ömür boyu hapse mahkûm edildi ve cezasını İskoçya'da çekmeye başladı. Yükümlü olduğu esnada prostat kanseri olan Megrahi 20 Ağustos 2009 tarihinde üç aylık ömrü 
                    kaldığı gerekçesiyle İskoç hükûmeti tarafından serbest bırakıldı. Olayda ölen yolcuların 189'u Amerikalıydı. Serbest bırakma kararı ABD başkanı Barack Obama tarafından "hata" 
                    olarak nitelendirildi.[24] Megrahi 20 Mayıs 2012'de prostat kanserinden öldü. Dönemin Birleşik Krallık başbakanı Gordon Brown serbest bırakma kararının (özerk) İskoçya parlamentosuna ait olduğunu, Birleşik Krallık hükûmetinin kararı olmadığını açıklamıştı ancak daha sonradan basına sızan Wikileaks belgelerinde Birleşik Krallık hükûmetinin Libya ile ekonomik anlaşmalarının sürekliliğini sağlayabilmek için Libya'nın isteğine boyun eğerek Megrahi'nin serbest bırakılmasını 
                    teşvik ettiği ortaya çıktı
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">İÇ SAVAŞ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Birleşmiş Milletler, Güvenlik Konseyi'nin kararına dayanarak Fransa, Birleşik Krallık ve Amerika Birleşik Devletleri'nin önderliğinde Libya’ya karşı 18 Mart 2011 akşamı havadan askerî operasyon başlattı. Operasyonun gerekçesi, Libya lideri Muammer Kaddafi'ye 
                    bağlı birliklerin halka baskı ve şiddet uygulaması ile Libya'nın BM kararlarına riayet etmemesi olarak açıklandı. BM ve halk 22 Ağustos 2011'de Kaddafi'yi devirdi. Ayaklanmanın sonlarında Sirte yakınlarında Kaddafi'nin konvoyuna NATO destekli saldırı düzenlenmiş, bu saldırıdan yara almadan kurtulan Kaddafi, saklandığı bir geçitte isyancılar tarafından yakalanarak linç edilmiştir. Muhalif gruplar Khalifa Haftar yönetiminde bulunan rakip başkent Tobruk'un güçlü lideridir ve 
                    Muammer Kaddafi'nin de devrilmesinde payı olan kişilerdendir.
                    2014’te başlayan Libya iç savaşında Türkiye, BM’nin de desteklediği Trablus merkezli Ulusal Mutabakat Hükûmeti’ni (UMH) desteklemektedir. 
                    UMH güçleri, Halife Hafter tarafından komuta edilen Bingazi merkezli ”Libya Ulusal Ordusu” ile karşı karşıyadır. Hafter güçleri Rusya, Fransa, Mısır ve BAE tarafından desteklenmektedir
                </p>

            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">DEMOGRAFİ</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Libya çok büyük bir yüz ölçümüne sahip olmasına rağmen nüfusun tamamına yakının kıyı bölgelerde yaşar. Örneğin; Trablus ve Sirenayka'da km2'ye düşen insan sayısı 50 iken ülkenin geri kalanında, km2'de 1 kişinin altına düşer. Ülkenin büyük ölçüde çöllerle kaplı olmasından dolayı, ülke yaşayanların %90'ı kıyı şehirlerinde yaşamaktadır
                    . Ülkeyi kaplayan çöllerin büyüklüğünü, bütün ülkedeki alanda km2'ye düşen insan sayısının 3,6'ya düşmesinden anlaşılabilir. Tarımsal faaliyetlerin imkânsız olduğu çöllerle 
                    kaplı Fizan'dan ziyade halk Trablus ve Sirenayka bölgelerinde yaşamaktadır.
                    Bütün nüfusun %90'ı, ülke topraklarının sadece %10'unda yaşamaktadır. Ülke toplam nüfusunun %88'i şehirde yaşamaktadır ve çoğunluğu üç büyük 
                    şehir olan Trablus, Bingazi ve el-Beyda'da bulunmaktadır.[28] 6,5 milyon civarındaki Libya nüfusunun yaklaşık yarısı '15 yaşından' küçüktür. 1984 
                    yılında dünya çapındaki en büyük nüfus artış hızına ulaşan Libya'da, yıllık doğum oranı %4 olarak tespit edilmişti. 1984'te 3,6 milyon olan ülke nüfusu 1964'te 1,54 milyondu.
                </p>

            </div>

        </div><br />

    </div>
</section><!-- hakkında alanı sonu Section -->
