
@{
    ViewBag.Title = "Tarım";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br /><br />
<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TARIM</h2>
            <p>LİBYA TARIMI HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">TARIM VE HAYVANCILIK</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Ülkede eskiden beri tarımda kendine yeterliliğe çok önem verilmesine rağmen,
                    başarılamamıştır. Libya gıda ihtiyacının %80’ini ithal etmek zorunda kalmaktadır. Tarım,
                    hayvancılık ve balıkçılık GSYİH’nın %3,2’sini oluşturmaktadır. Çevresel faktörler de Libya’nın
                    tarımsal potansiyelini sınırlı hale getirmektedir. Libya’nın %90’ını oluşturan çöl nedeniyle
                    tarıma elverişli alan, Libya topraklarının sadece %1,7’si ile sınırlıdır. Ülkede tarıma elverişli iki
                    bölge bulunmaktadır. Kuzey doğuda kıyıya paralel, ağaçlı yüksek Jabel Akhdar platosunda
                    tarım ürünleri, özellikle zeytin ve üzüm yetiştirilmektedir. İkinci alan kuzey batıdaki kıyı
                    bölgesi olup, hurma, zeytin, portakal ve badem yetiştirilmektedir. Bu iki bölgede ülkenin
                    tarım ürünlerinin %80’inden fazlası yetiştirilmektedir. Diğer taraftan, hayvansal gıda ürünleri
                    üretiminde de 1992 yılından bu yana önemli bir gelişme olmamıştır. Sadece kuzu ve koyun
                    eti üretiminde bir iyileşme sağlanmıştır. Büyük potansiyeli olmasına rağmen, Libya balıkçılık
                    kaynaklarını kullanamamaktadır. 1.685 km. olan kıyı hattında ton balığı ve sardalye boldur.
                    Ancak işleme tesisleri ve limanlar yetersizdir. Ülkede sadece bir ton balığı fabrikası
                    (Zanzur’da) ve iki sardalye konservesi yapma tesisi (Zuwara ve Khums) vardır. Hükümetin bu
                    alanda 24 yeni balıkçılık limanı yapma projesi bulunmaktadır. Ancak, uygulamada henüz bir
                    ilerleme sağlanamamıştır.
                </p>

            </div><br />
            <div >
                <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/tarim.jpg" class="rounded" width="600" /></p>
                <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/hayvan.jpg" class="rounded"  width="680"/></p>
            </div><br />
            <div class="col-lg-12">
                <p>
                    Libya ekonomisi ağırlıklı olarak hidrokarbonlar sektöründen oluşmaktadır bu sektördeki üretim GSYİH’nın %66,4’üne karşılık gelmektedir.
                    Tarım ve Hayvancılık
                    Ülkede eskiden beri tarımda kendine yeterliliğe çok önem verilmesine rağmen, tarımda kendine yeterlilik gerçekleşememiştir. Libya gıda ihtiyacının %80’ini ithal etmek zorunda kalmaktadır. Tarım, hayvancılık ve balıkçılık GSYİH’nın %3,2’sini oluşturmaktadır.
                    Çevresel faktörler de Libya’nın tarımsal potansiyelini sınırlı hale getirmektedir. Libya’nın %90’ını oluşturan çöl nedeniyle tarıma elverişli alan, Libya topraklarının sadece %1,7’si ile sınırlıdır.
                    Ülkede tarıma elverişli iki bölge bulunmaktadır. Kuzey doğuda kıyıya paralel, ağaçlı yüksek Jabel Akhdar platosunda tarım ürünleri, özellikle zeytin ve üzüm yetiştirilmektedir. İkinci alan kuzey batıdaki kıyı bölgesi olup, hurma, zeytin, portakal ve badem yetiştirilmektedir. Bu iki bölgede ülkenin tarım ürünlerinin %80’inden fazlası yetiştirilmektedir. Diğer taraftan, hayvansal gıda ürünleri üretiminde de 1992 yılından bu yana önemli bir gelişme olmamıştır. Sadece kuzu ve koyun eti üretiminde bir iyileşme sağlanmıştır.
                    Büyük potansiyeli olmasına rağmen, Libya balıkçılık kaynaklarını kullanamamaktadır. 1.685 km. olan kıyı hattında ton balığı ve sardalya boldur. Ancak işleme tesisleri ve limanlar yetersizdir. Ülkede sadece bir ton balığı fabrikası (Zanzur’da) ve iki sardalya konservesi yapma tesisi (Zuwara ve Khums) vardır. Hükümetin bu alanda 24 yeni balıkçılık limanı yapma projesi bulunmaktadır. Ancak, uygulamada henüz bir ilerleme sağlanamamıştır. Bununla birlikte Libya ve İtalya arasında 2009 Haziran ayında bir balıkçılık anlaşması imzalanmıştır.
                    Sanayi
                </p>
            </div>

        </div><br />
        <h4 style="color:#e40; font-weight:bold;">LİBYA’NIN DÜNYA TAHIL ÜRETİMİNDEKİ YERİ</h4>
        <div class="col-lg-12">
            <p>
                Tunus’ta olduğu gibi Libya’nın tahıl üretiminde de buğday ve arpa ön plandadır. 2014/15 sezonunda 200 bin ton buğday üreten Libya, 2015/16 ve 2016/17 sezonlarında da 200 bin ton buğday üretmiştir. Libya’nın 2017/18 sezonunda da yine 200 bin ton buğday üretimi gerçekleştireceği öngörülmektedir. En çok üretilen ikinci tahıl ürünü ise arpadır. Libya’nın 2014/15 ila 2016/17 sezonları arasında arpa üretimi ortalama 101 bin tondur. Libya’nın 2017/18 sezonunda da 100 bin ton arpa üreteceği öngörülmektedir.

                Libya’nın tahıl tüketiminde önde gelen ürünlerin buğday ve arpa olduğu görülmektedir. Buğday tüketimi 2014/15 sezonunda 1,6 milyon ton, 2015/16 sezonunda ise 1,5 milyon ton olarak
                gerçekleşmiştir. Libya’nın 2016/17 sezonunda 1,6 milyon ton buğday tükettiği tahmin edilmektedir. 2017/18 sezonu için Libya için öngörülen buğday tüketim miktarı aynıdır. Libya’nın arpa
                tüketim miktarının 2014/15 ila 2016/17 sezonları arasında 1,1-1,4 milyon ton civarında olduğu görülmektedir. Libya’nın 2017/18 sezonunda ise arpa üretiminin 800 bin tona düşeceği öngörülmektedir. 2014/15 ve 2016/17 sezonları arasında mısır tüketimi 640-720 bin ton aralığında olan Libya’da 2017/18 sezonunda 750 bin ton mısır tüketileceği öngörülmektedir.
                Ayrıca, Libya’da 2014/15 ila 2016/17 sezonları arasında 200-250 bin ton civarında pirinç tüketilmiştir.
            </p>
            <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/tahil.png" class="rounded" width="600" /></p>
            <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/bugday.jpg" class="rounded" width="675" /></p>
            <p>
                2014 yılında yayınlanan Uluslararası Tahıl Konseyi (IGC)’nin Libya ile ilgili araştırma raporuna göre, buğday, Libya’da en değerli gıda olarak görülüyor ve Libya’daki gıdaların yüzde 80’i buğdaydan üretiliyor. Un Libya’da ana gıda maddelerini oluşturan ekmek, makarna ve kuskus üretiminde kullanılıyor. Ayrıca Libya’da üretilen buğday kepeği doğrudan hayvanların beslenmesi
                için yem fabrikalarına gönderiliyor.
                Libya’da değirmencilik endüstrisi ise yerel ve özel sektördeki değirmenlerden oluşuyor. Ülkede yılda 3 milyon ton yumuşak buğday kırma kapasitesine sahip 42 un
                fabrikası ile yılda 700 bin ton sert buğday kırma kapasiteli 8 irmik fabrikası bulunduğu belirtiliyor. Toplam değirmencilik kapasitesinin yüzde 63’ünü sağlayan yerel sektörde
                2 büyük un fabrikası mevcuttur.
                Libya’daki tahıl silolarının toplam kapasitesi ise 500 bin tondur.
                FAO verilerine göre, 2010-2011 yıllarında 13-4 ton buğday unu ihraç eden Libya, bu rakamı 2012 yılında 716 tona çıkarmış ve 2013 yılında ise 247 tona düşürmüştür.
                Tüketimini ithalatla karşılayan Libya’nın un ithalat rakamları da düşüş göstermektedir. Libya, 2010 ve 2013 yılları arasında bin ton ila 265 bin ton arasında buğday unu ithal etmiştir. Ülkenin buğday unu ithalatı 2010 yılında yaklaşık 2 bin ton olarak gerçekleşmiş ve 2011 yılında bu miktar 265 bin tona yükselmiştir. 2012 ve 2013 yıllarında düşüş
                gösteren buğday unu ithalatı önce 130 bin tona ve sonra 5 bin tona gerilemiştir.
            </p>
        </div>
    </div>
    </section>



