
@{
    ViewBag.Title = "Truzim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<section>
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>TURİZM</h2>
            <p>LİBYA TURİZM HAKKINDA</p>
        </div>
        <h4 style="color:#e40; font-weight:bold;">TURİZM</h4>
        <div class="row content">
            <div class="col-lg-12">
                <p>
                    Libya, uzun yıllar süren ambargolar ve olumsuz ülke imajı nedeniyle az turist çeken bir ülke
                    olmuştur. Ancak, ekonomik büyüme, iş seyahatleri ve çöl turizmi bu alanda bir iyileşme
                    yaratmıştır. Turizmin önündeki engel ise iyi otel ve restoranlar, sahil siteleri gibi yeterli
                    turizm alt yapısının olmamasıdır. Yaklaşık 1.800 KM’lik Akdeniz sahilinin yanı sıra arkeolojik
                    yerler ve çöl turizmi, turistler için ilgi çekici alanlardır. Diğer taraftan, Roma dönemine ait
                    Sabrata ve Lepnis Magna yerleşim yerleri ile Cyrene ve Apollonia gibi Yunan şehirleri,
                    Libya’da turizm potansiyeli taşıyan ve Kuzey Afrika’da en iyi korunan turizm alanları olarak
                    kabul edilmektedir.
                </p>
                <h4 style="color:#e40; font-weight:bold;">LİMANLAR</h4>
                <p>
                    Libya’nın başlıca limanları Trablus, Bingazi, Marsa el-Brega, Misurata, Sidra’dır. Ana petrol
                    hatlarına bağlı petrol terminalleri ise Zuetina, Ras Lanuf, Marsa el-Hariga, Marsa el-Brega,
                    Sidra’da yer almaktadır. İthalattaki sıkıntıların azaltılması için Trablus limanının kapasitesinin
                    artırılması yönünde çalışmalar başlatılmıştır.
                </p>
                <p style="float:left;" data-aos="fade-right" class="col-lg-6"><img src="~/assets/img/turizm.jpg" class="rounded" width="600" /></p>
                <p style="float:right;" data-aos="fade-left" class="col-lg-6"><img src="~/assets/img/liman.jpg" class="rounded" width="570" /></p><br />
                <h4 style="color:#e40; font-weight:bold;">DOĞAL KAYNAKLAR VE ÇEVRE</h4>
                <p>
                    Libya, batıda Tripolitania, doğuda Cyrenacia ve güneyde Fezzan olmak üzere üç ana bölgeye
                    bölünmüştür. Başkentin yer aldığı sahildeki Jefara ovası kuzeybatı Tripolitania’da yer
                    almaktadır. Bölgede Jebel adı verilen bir dizi tepe bulunmaktadır. Bingazi ise Jebel Akhdar
                    platosunda yer almaktadır. Nüfus Tripolitania ve Cyrenacia sahil bandında yoğunlaşmıştır.
                    Fezzan ise Sahra çölünün bir parçası olup, güneyde yer almaktadır. Bu yüzden kuru ve sıcak
                    bir iklime sahiptir. Çölde yeraltı sularına dayalı bazı vahalar bulunmaktadır. Petrol ve doğal
                    gaz alanları genellikle çölün iç kesimindedir. Libya’daki Büyük Yapay Nehir projesine 1984
                    yılında başlanmış olup, proje çöl boyunca 5 milyon metreküp/gün su taşıyacak ve ekilebilir
                    alanları 150.000 hektar artıracak şekilde oluşturulmuştur. Bu çerçevede güneydeki yeraltı
                    sularının sulama amaçlı olarak kuzeydeki sahil kesimindeki tarımsal alanlara getirilmesi
                    amaçlanmaktadır. Proje dünyanın en büyük su nakil projesi olup, tamamlandığında 4.000
                    km’lik bir boru hattına ulaşacaktır. Önemli kısmı tamamlanan projenin yapımı da, ülkede
                    yaşanılan iç karışıklıklar nedeniyle durma noktasına gelmiştir.
                </p>


            </div><br />
            </div>
        </div>
        </section>


