<!-- ======= Footer başlangıcı ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="footer-info">
                        <h3>Libya Devleti</h3>

                        <p>
                            Akdeniz kıyısında, doğuda Mısır, batıda Cezayir ve Tunus, güneyde Nijer ve Çad,  <br>
                            güneydoğuda Sudan ile komşu olan bir Mağrip ve Kuzey Afrika ülkesidir<br><br>

                        </p>

                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Menü</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ana Sayfa</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tarihi</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Şehirler</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Kültürel Ve Turistlik</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Etnik Yapı</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Hakkında</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tarım</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Turizm</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Ekonomi</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Enerji</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">İklim</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 footer-newsletter">
                    <h4>Konum</h4>
                    <p><img src="~/assets/img/altlogo.png" height="200px" /></p>
                </div>
                <div class="col-lg-2 col-md-6 footer-newsletter">
                    <h4>Bayrak Ve Arma</h4>
                    <p><img src="~/assets/img/logo.png" width="100" /></p>
                    <p><img src="~/assets/img/arma.png" width="100" /></p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; 2022 <strong><span>Libya Devleti</span></strong>. Tüm Hakkaları Saklıdır
        </div>

    </div>
</footer><!-- Footer sonu -->